.container {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(18, 145, 125, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  position: absolute;
}

.scroll-bg {
  background-color: black; /* set the background color */
  transition: background-color 0.5s ease; /* set the transition effect */
}

.scroll-bg.transparent {
  background-color: rgba(0, 0, 0, 0); /* set the transparent background color */
}
